.clock {
    position: absolute;
    width: 335px;
    height: 335px;
	background: radial-gradient(circle, rgba(238,174,202,1) 25%, rgba(148,187,233,1) 50%);
    border-radius: 50%;
    transition: all 0.5s;
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
}

.clock::before {
    content: "";
    position: absolute;
    width: 235px;
    height: 235px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background: radial-gradient(circle, rgba(148,187,233,1) 25%, rgba(238,174,202,1) 50%);
    border-radius: 50%;
    transition: all 0.5s;
	background-size: 200% 200%;
	animation: gradient 15s 1s ease infinite alternate-reverse;
    filter: blur(5px);
    border-left: 1px solid var(--background);
}

.clock::after {
    content: "";
    position: absolute;
    width: 105px;
    height: 105px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 50%;
    transition: all 0.5s;
	background-size: 200% 200%;
	animation: gradient 15s 2s ease infinite alternate-reverse;
    filter: blur(5px);
    border-top: 1px solid var(--background);
}

.week-12-clock {
    position: absolute;
    width: 335px;
    height: 335px;
    background: var(--foreground);
    transition: all 0.5s;
	background-size: 200% 200%;
	animation: none;
    box-shadow: 1px 1px 5px var(--foreground);
    border-radius: 100%;
}

.week-12-clock::before{
    width: 100px;
    height: 100px;
    z-index: 100000;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 1px;
    filter: none;
    transform: translate(-200%, -100%) rotate(0deg);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.week-12-clock::after{
    width: 180px;
    height: 180px;
    z-index: 100000;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 1px;
    filter: none;
    transform: translate(10%, 0) rotate(0deg);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.hour-hand, .minute-hand, .second-hand, .center {
    position: absolute;
    background-color: var(--foreground);
}

.hour-hand {
    width: 4px;
    height: 40px;
    top: 50%;
    left: calc(50% - 2px);
    transform-origin: 2px 0%;
    border-radius: 50%;
    z-index: 10;
    transition: all 0.5s;
}

.week-12-hour{
    width: 0px;
    height: 0px;
    background: none;
    border-radius: 0;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-bottom: 46px solid yellow; /* Change color as needed */
    top: calc(50% + 80px);
    left: calc(50% - 23px);
    transform-origin: 23px -80px;
}

.week-12-hour::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    background: none;
    border-radius: 0;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-bottom: 46px solid yellow; /* Change color as needed */
    transform: translate(-50%, 0%);
    filter: blur(5px);
}

.minute-hand {
    width: 4px;
    height: 60px;
    top: 50%;
    left: calc(50% - 2px);
    transform-origin: 2px 0%;
    border-radius: 50%;
    z-index: 11;
    transition: all 0.5s;
}

.week-12-minute{
    width: 40px;
    height: 40px;
    background: blue;
    border-radius: 0%;
    top: calc(50% + 60px);
    left: calc(50% - 20px);
    transform-origin: 20px -60px;
}

.second-hand {
    width: 2px;
    height: 80px;
    top: 50%;
    left: calc(50% - 1px);
    transform-origin: 1px 0%;
    border-radius: 50%;
    z-index: 12;
    transition: all 1s;
}

.week-12-second{
    width: 40px;
    height: 40px;
    background: red;
    top: calc(50% + 20px);
    left: calc(50% - 20px);
    transform-origin: 20px -20px;
}

.center {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--foreground);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
}
